<%= render 'shared/navbar' %>
<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
     <div class="col-sm-12">
      <h1>Editing Pet</h1>
     </div>
    </div>
     <%= render 'form', pet: @pet %>
     <div style="display: inline-block;">
       <p><%= link_to 'Back to My Pets', pets_path, class: "btn btn-primary"%> </p>
     </div>
  </div>
</div>

