<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
     <div class="col-sm-12">
      <h1>New Pet</h1>
     </div>
    </div>
     <%= render 'form', pet: @pet %>
     <p> <%= link_to 'Back to My Pets', pets_path %> </p>
  </div>
</div>


