
<div class="footer">
  <blockquote class="blockquote mb-0">
    <p>Life is a box of wild kitties, you never know what you gonna get.</p>
    <footer class="blockquote-footer">Micheal Jackson<cite title="Source Title"> Before dying.</cite></footer>
  </blockquote>
 <div class="footer-links">
   <a href="#"><i class="fab fa-github"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-facebook"></i></a>
   <a href="#"><i class="fab fa-twitter"></i></a>
   <a href="#"><i class="fab fa-linkedin"></i></a>
 </div>
 <div class="footer-copyright">
   This footer is made with <i class="fas fa-heart"></i> at Le Wagon
 </div>
</div>
