<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-1.us.xmsymphony.com/d95f62213cdda27c5216a98d61d7d835/contents/ckfinder/images/small-animals.jpg);">
  <div class="container ">
    <h1 color="white">Rent A Pet</h1>
    <p>Change your life and rent a little friend to keep you company.</p>
  </div>
</div>

<h1><%= link_to "My Pets", pets_path %></h1>

